@page "/produits/"
@using LegoBlazor.Data
@inherits SetsPages

<h1>Sets</h1>

@if (Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Row>
        <DataGrid TItem="Set"
                  Data="@Items"
                  Editable="true"
                  Sortable="true"
                  Filterable="true"
                  PageSize="10"
                  UseInternalEditing="true"
                  @bind-SelectedRow="@selected"
                  Striped="true"
                  Bordered="true"
                  Hoverable="true">
            <ChildContent>
                <DataGridColumn TItem="Set" Field="@nameof(Data.Set.SetNum)" Caption="Numéro" Sortable="false" />
                <DataGridColumn TItem="Set" Field="@nameof(Data.Set.Name)" Caption="Name" Sortable="false" />
                <DataGridColumn TItem="Set" Field="@nameof(Data.Set.Year)" Caption="Année" Sortable="false" />
                <DataGridColumn TItem="Set" Field="@nameof(Data.Set.Theme)" Caption="Thème" Sortable="false" />
                <DataGridColumn TItem="Set" Field="@nameof(Data.Set.Id)" Caption="*">
                    <DisplayTemplate>
                        <Button Color="Color.Primary" Clicked="@(()=>NavClicked())">Voir</Button>
                    </DisplayTemplate>
                </DataGridColumn>
            </ChildContent>
        </DataGrid>
    </Row>
}

@code {

    Data.Set selected;

    void NavClicked()
    {
        if (selected != null)
            NavigationManager.NavigateTo(selected.Uri, true);
    }

}
