@page "/produits/{SetNum}"
@using LegoBlazor.Data
@using OutilsBlazor;
@inherits LegoBlazor.Modeles.SetPage

<style>
    img {
        width: 20%;
    }
</style>

<h1>Set : @Item.Name</h1>
<Row>
    <Fields>
        <Field>
            <FieldLabel>
                Numéro :
            </FieldLabel>
            <FieldBody>
                @Item.SetNum
            </FieldBody>
            <FieldLabel>
                Année :
            </FieldLabel>
            <FieldBody>
                @Item.Year
            </FieldBody>
            <FieldLabel>
                Thème :
            </FieldLabel>
            <FieldBody>
                @Item.Theme
            </FieldBody>
        </Field>
    </Fields>
</Row>
<Row>
    <Button Color="Color.Primary" Clicked="@(()=>NavClickedToSite())">Voir sur Rebrickable</Button>
    <Button Color="Color.Info" Clicked="@(()=>VoirLesPieces())">Voir les pièces</Button>
</Row>
<Row>
    <img src="@Item.SetImgUrl" />
</Row>

@code {

    void NavClickedToSite()
    {
        JSRuntime.AfficherNouvelOnglet(Item.SetUrl.AbsoluteUri);
    }


    void VoirLesPieces()
    {
        JSRuntime.AfficherNouvelOnglet(Item.SetUrl.AbsoluteUri);
    }
}
