@page "/themes/"
@using LegoBlazor.Data
@using Theme = LegoBlazor.Data.Theme
@inherits LegoBlazor.Modeles.ThemesPages

<h1>Sets</h1>

@if (Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Row>
        <DataGrid TItem="Theme"
                  Data="@Items"
                  Editable="true"
                  Sortable="true"
                  Filterable="true"
                  PageSize="10"
                  UseInternalEditing="true"
                  @bind-SelectedRow="@CurrentItem"
                  Striped="true"
                  Bordered="true"
                  Hoverable="true">
            <ChildContent>
                <DataGridColumn TItem="Theme" Field="@nameof(Theme.Name)" Caption="Name" Sortable="false" />
                <DataGridColumn TItem="Theme" Field="@nameof(Theme.Id)" Caption="*">
                    <DisplayTemplate>
                        <Button Color="Color.Primary" Clicked="@(()=>NavClicked())">Voir les sets</Button>
                    </DisplayTemplate>
                </DataGridColumn>
            </ChildContent>
        </DataGrid>
    </Row>
}

@code {

    void NavClicked()
    {
        //TODO
    }

}
